*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Roboto";
    line-height: 1.5;
}

/* end of css resets */

.wrapper {
    margin: 0 auto;
    padding: 0 clamp(1rem, 5vw - 1rem, 4rem);
}

img {
    width: 100%;
}

/* Header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    background: white;
    height: clamp(3rem, 2vw + 2.5rem, 4rem);
}

.logo {
    font-size: clamp(1rem, 8vw - 2rem, 2rem);
    padding-left: clamp(1.5rem, 8vw - 2rem, 12rem);
}

nav {
    padding-left: 32px;
    padding-right: clamp(1.5rem, 8vw - 2rem, 12rem);
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    font-size: clamp(0.85rem, 8vw - 2rem, 1.05rem);
    text-decoration: none;
}

/* Hero */
.hero {
    padding: clamp(1.5rem, 8vw - 2rem, 12rem);
    background-color: #1F2937;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(2.25rem, 3vw + 1.25rem, 3rem);
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 35rem;
    gap: 8px;
    color: white;
}

.hero-main-text {
    color: inherit;
    font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
    font-weight: bold;
    line-height: 1.2;
}

.hero-secondary-text {
    color: inherit;
    font-size: clamp(0.8rem, 4vw - 1.25rem, 1.125rem);
    font-weight: lighter;
}

.hero-button {
    color: inherit;
    background-color: #3882F6;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: clamp(0.125rem, 7vw - 3rem, 0.5rem) clamp(0.5rem, 5vw - 1.25rem, 2rem);
    width: max-content;
    cursor: pointer;
}

.hero-img-wrapper {
    flex: 0 1.4 400px;

    @media (max-width: 500px) {
        display: none;
    }
}

/* Info */
.info {
    padding-top: clamp(1rem, 5vw - 1.25rem, 3rem);
    padding-bottom: clamp(1rem, 5vw - 1.25rem, 3rem);
    padding-left: clamp(1.5rem, 8vw - 2rem, 12rem);
    padding-right: clamp(1.5rem, 8vw - 2rem, 12rem);
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.5rem, 5vw - 1.25rem, 2rem);
}

.info-motto {
    color: #1F2937;
    font-size: clamp(1.25rem, 6vw - 1.25rem, 2.25rem);
    font-weight: 900;
}

.icon-gallary-wrapper {
    display: flex;
    align-items: baseline;
    gap: clamp(0.75rem, 5vw - 1.25rem, 3rem);
    flex: 1;
}

.icon-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 70px;
    max-width: 200px;
}

.icon-card span {
    font-size: clamp(0.8rem, 4vw - 1.25rem, 1.125rem);
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3882F6;
    border-radius: 16px;
    padding: 16px;
}

.icon {
    aspect-ratio: 1 / 1;
}

/* Quote */
.quote {
    padding: clamp(1.5rem, 8vw - 2rem, 20rem);
    background-color: #E5E7EB;
}

.quote-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: clamp(1.25rem, 6vw - 1.25rem, 1.5rem); 
    font-style: italic;
    font-weight: 300;
    width: fit-content;
}

.quote-text::before {
    content: "“";
}

.quote-text::after {
    content: "”";
}

.quote-author {
    font-size: clamp(0.8rem, 4vw - 1.25rem, 1.5rem);
    font-weight: bold;
    align-self: flex-end;
    line-height: 2;
}

.quote-author::before {
    content: "—";
    color: #1F2937;
}

/* Call to action */
.call-to-action {
    padding-top: clamp(1rem, 5vw - 1.25rem, 3rem);
    padding-bottom: clamp(1rem, 5vw - 1.25rem, 3rem);
    margin: 0 clamp(1.5rem, 8vw - 2rem, 12rem);
    background-color: white;
}

.call-to-action-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(2rem, 3vw + 1.25rem, 3rem);
    padding: clamp(1.5rem, 8vw - 2rem, 12rem);
    background-color: #3882F6;
    border-radius: 8px;
}

.call-to-action-main-text {
    color: white;
    font-size: clamp(1rem, 6vw - 1.25rem, 1.5rem); 
}

.call-to-action-secondary-text {
    color: white;
    font-size: clamp(0.8rem, 4vw - 1.25rem, 1.125rem);
    font-weight: lighter;
}

.call-to-action-button {
    color: white;
    font-size: clamp(1rem, 4vw - 1.25rem, 1.125rem);
    font-weight: bold;
    border: 2px solid;
    border-radius: 8px;
    padding: clamp(0.125rem, 7vw - 3rem, 0.5rem) clamp(0.5rem, 5vw - 1.25rem, 2rem);
    width: max-content;
    cursor: pointer;
    background-color: inherit;
}

/* Footer */
footer {
    background-color: #1F2937;
    padding: clamp(1rem, 5vw - 1.25rem, 3rem);
}

.footer-content {
    margin: auto;
    width: fit-content;
}

.footer-text {
    color: white;
}